<section class="header">

  <h2>Next Player : {{currentlyPlayer}}</h2>

  <h2>Winner : {{currentlyWinner}}</h2>

</section>

<section id="squad">

  <div *ngFor="let row of hashSquad; index as indexRow" class="hash">

    <div class="squad" [class.disabled]="column.choice" *ngFor="let column of row; index as indexColumn"
      (click)="move(column, indexColumn, indexRow)">

      <span>
        {{column?.choice}}
      </span>

    </div>

  </div>

  <button [disabled]="disabledBtn()" (click)="resetGame()">RESET </button>

</section>
